<a href="https://colab.research.google.com/github/GandharvaThite/Projects-ML-AI-NLP-/blob/main/CustomerChurn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/WA_Fn-UseC_-Telco-Customer-Churn.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
df.drop(columns='customerID',axis=1,inplace=True)

In [ ]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
pd.to_numeric(df['TotalCharges'],errors='coerce').isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: TotalCharges, Length: 7043, dtype: bool

In [ ]:
df[pd.to_numeric(df['TotalCharges'],errors='coerce').isnull()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [ ]:
df1 = df[df['TotalCharges']!= ' ']

In [ ]:
df1.shape

(7032, 20)

In [ ]:
df1['TotalCharges'] = pd.to_numeric(df1['TotalCharges'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df1['Churn'].value_counts()

No     5163
Yes    1869
Name: Churn, dtype: int64

In [ ]:
def print_unique_vals(df):
  for i in df:
    if(df[i].dtype=='object'):
      print(f'{i}:{df[i].unique()}')

In [ ]:
print_unique_vals(df1)

gender:['Female' 'Male']
Partner:['Yes' 'No']
Dependents:['No' 'Yes']
PhoneService:['No' 'Yes']
MultipleLines:['No phone service' 'No' 'Yes']
InternetService:['DSL' 'Fiber optic' 'No']
OnlineSecurity:['No' 'Yes' 'No internet service']
OnlineBackup:['Yes' 'No' 'No internet service']
DeviceProtection:['No' 'Yes' 'No internet service']
TechSupport:['No' 'Yes' 'No internet service']
StreamingTV:['No' 'Yes' 'No internet service']
StreamingMovies:['No' 'Yes' 'No internet service']
Contract:['Month-to-month' 'One year' 'Two year']
PaperlessBilling:['Yes' 'No']
PaymentMethod:['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn:['No' 'Yes']

In [ ]:
df1 = df1.replace('No internet service','No')
df1 = df1.replace('No phone service','No')

In [ ]:
print_unique_vals(df1)

gender:['Female' 'Male']
Partner:['Yes' 'No']
Dependents:['No' 'Yes']
PhoneService:['No' 'Yes']
MultipleLines:['No' 'Yes']
InternetService:['DSL' 'Fiber optic' 'No']
OnlineSecurity:['No' 'Yes']
OnlineBackup:['Yes' 'No']
DeviceProtection:['No' 'Yes']
TechSupport:['No' 'Yes']
StreamingTV:['No' 'Yes']
StreamingMovies:['No' 'Yes']
Contract:['Month-to-month' 'One year' 'Two year']
PaperlessBilling:['Yes' 'No']
PaymentMethod:['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn:['No' 'Yes']

In [ ]:
yes_no_cols = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']

In [ ]:
for col in yes_no_cols:
  df1[col].replace({'Yes':1,'No':0},inplace=True)

In [ ]:
print_unique_vals(df1)

gender:['Female' 'Male']
InternetService:['DSL' 'Fiber optic' 'No']
Contract:['Month-to-month' 'One year' 'Two year']
PaymentMethod:['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [ ]:
df1['gender'].replace({'Female':1,'Male':0},inplace=True)

In [ ]:
df2 = pd.get_dummies(data=df1,columns=['InternetService','Contract','PaymentMethod'])

In [ ]:
df2.shape

(7032, 27)

In [ ]:
max(df2['tenure'])

72

In [ ]:
cols_to_scale = ['tenure','MonthlyCharges','TotalCharges']

In [ ]:
scaler = MinMaxScaler()
df2[cols_to_scale] = scaler.fit_transform(df2[cols_to_scale])

In [ ]:
df['tenure'][3037]

32

In [ ]:
32/72

0.4444444444444444

In [ ]:
X = df2.drop(columns = 'Churn',axis=1)

In [ ]:
Y = df2['Churn']

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,random_state =5 )

In [ ]:
model = keras.Sequential([
                          keras.layers.Flatten(input_shape=(26,)),
                          keras.layers.Dense(26,activation='relu'),
                          keras.layers.Dropout(0.5),
                          keras.layers.Dense(15,activation='relu'),
                          keras.layers.Dropout(0.25),
                          keras.layers.Dense(1,activation = 'sigmoid')
])
model.compile(
    optimizer = 'adam',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)
model.fit(X_train,Y_train,epochs = 100)

Epoch 1/100
176/176 [==============================] - 1s 4ms/step - loss: 0.5734 - accuracy: 0.7138
Epoch 2/100
176/176 [==============================] - 1s 4ms/step - loss: 0.4822 - accuracy: 0.7605
Epoch 3/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4615 - accuracy: 0.7700
Epoch 4/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4608 - accuracy: 0.7794
Epoch 5/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4489 - accuracy: 0.7824
Epoch 6/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4444 - accuracy: 0.7829
Epoch 7/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4425 - accuracy: 0.7879
Epoch 8/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4471 - accuracy: 0.7829
Epoch 9/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4456 - accuracy: 0.7860
Epoch 10/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4382 - accuracy: 0.7916
Epoch 11/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4350 - accuracy: 0.7968
Epoch 12/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4336 - accuracy: 0.7950
Epoch 13/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4312 - accuracy: 0.7975
Epoch 14/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4303 - accuracy: 0.7977
Epoch 15/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4321 - accuracy: 0.7932
Epoch 16/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4294 - accuracy: 0.7970
Epoch 17/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4217 - accuracy: 0.8032
Epoch 18/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4266 - accuracy: 0.7986
Epoch 19/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4253 - accuracy: 0.8000
Epoch 20/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4280 - accuracy: 0.7966
Epoch 21/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4279 - accuracy: 0.8044
Epoch 22/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4218 - accuracy: 0.8050
Epoch 23/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4221 - accuracy: 0.7998
Epoch 24/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4244 - accuracy: 0.8037
Epoch 25/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4230 - accuracy: 0.8011
Epoch 26/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4197 - accuracy: 0.8075
Epoch 27/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4188 - accuracy: 0.8052
Epoch 28/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4202 - accuracy: 0.8066
Epoch 29/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4127 - accuracy: 0.8057
Epoch 30/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4207 - accuracy: 0.8027
Epoch 31/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4167 - accuracy: 0.8043
Epoch 32/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4192 - accuracy: 0.8028
Epoch 33/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4175 - accuracy: 0.8052
Epoch 34/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4095 - accuracy: 0.8100
Epoch 35/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4170 - accuracy: 0.8078
Epoch 36/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4157 - accuracy: 0.8084
Epoch 37/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4135 - accuracy: 0.8094
Epoch 38/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4147 - accuracy: 0.8059
Epoch 39/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4163 - accuracy: 0.8101
Epoch 40/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4134 - accuracy: 0.8076
Epoch 41/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4131 - accuracy: 0.8100
Epoch 42/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4130 - accuracy: 0.8078
Epoch 43/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4116 - accuracy: 0.8128
Epoch 44/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4136 - accuracy: 0.8076
Epoch 45/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4105 - accuracy: 0.8094
Epoch 46/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4149 - accuracy: 0.8064
Epoch 47/100
176/176 [==============================] - 1s 4ms/step - loss: 0.4146 - accuracy: 0.8092
Epoch 48/100
176/176 [==============================] - 1s 4ms/step - loss: 0.4113 - accuracy: 0.8108
Epoch 49/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4115 - accuracy: 0.8092
Epoch 50/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4098 - accuracy: 0.8116
Epoch 51/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4099 - accuracy: 0.8094
Epoch 52/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4114 - accuracy: 0.8100
Epoch 53/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4129 - accuracy: 0.8135
Epoch 54/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4109 - accuracy: 0.8098
Epoch 55/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4117 - accuracy: 0.8140
Epoch 56/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4091 - accuracy: 0.8121
Epoch 57/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4117 - accuracy: 0.8107
Epoch 58/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4097 - accuracy: 0.8107
Epoch 59/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4092 - accuracy: 0.8130
Epoch 60/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4107 - accuracy: 0.8105
Epoch 61/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4071 - accuracy: 0.8153
Epoch 62/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4090 - accuracy: 0.8108
Epoch 63/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4048 - accuracy: 0.8176
Epoch 64/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4082 - accuracy: 0.8121
Epoch 65/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4059 - accuracy: 0.8066
Epoch 66/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4037 - accuracy: 0.8142
Epoch 67/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4034 - accuracy: 0.8121
Epoch 68/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4058 - accuracy: 0.8155
Epoch 69/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4051 - accuracy: 0.8112
Epoch 70/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4032 - accuracy: 0.8169
Epoch 71/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4016 - accuracy: 0.8158
Epoch 72/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4070 - accuracy: 0.8128
Epoch 73/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4030 - accuracy: 0.8139
Epoch 74/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4058 - accuracy: 0.8091
Epoch 75/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4015 - accuracy: 0.8146
Epoch 76/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4024 - accuracy: 0.8148
Epoch 77/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3991 - accuracy: 0.8151
Epoch 78/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4043 - accuracy: 0.8142
Epoch 79/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4059 - accuracy: 0.8133
Epoch 80/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4053 - accuracy: 0.8153
Epoch 81/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4055 - accuracy: 0.8085
Epoch 82/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4065 - accuracy: 0.8103
Epoch 83/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4048 - accuracy: 0.8133
Epoch 84/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4058 - accuracy: 0.8165
Epoch 85/100
176/176 [==============================] - 1s 4ms/step - loss: 0.4025 - accuracy: 0.8140
Epoch 86/100
176/176 [==============================] - 1s 3ms/step - loss: 0.3997 - accuracy: 0.8155
Epoch 87/100
176/176 [==============================] - 1s 4ms/step - loss: 0.4030 - accuracy: 0.8107
Epoch 88/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3994 - accuracy: 0.8140
Epoch 89/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3963 - accuracy: 0.8188
Epoch 90/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4026 - accuracy: 0.8155
Epoch 91/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3995 - accuracy: 0.8135
Epoch 92/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3999 - accuracy: 0.8151
Epoch 93/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4012 - accuracy: 0.8096
Epoch 94/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3992 - accuracy: 0.8187
Epoch 95/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4010 - accuracy: 0.8158
Epoch 96/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4030 - accuracy: 0.8146
Epoch 97/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4014 - accuracy: 0.8185
Epoch 98/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4021 - accuracy: 0.8188
Epoch 99/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3981 - accuracy: 0.8116
Epoch 100/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3944 - accuracy: 0.8197

In [ ]:
model.evaluate(X_test,Y_test)

44/44 [==============================] - 0s 2ms/step - loss: 0.4479 - accuracy: 0.7854

[0.44786447286605835, 0.7853589057922363]